<div class="content wrapper">
  <div class="project-container wrapper" (mouseenter)="showDescription(0)" (mouseleave)="hideDescription(0)">
    <div class="project-image-container" #aboutmeLeft>
      <div class="number-container-small-screen">04/04</div>
      <img class="project-image" src="./assets/img/mywork/Portfolio.png">
      <img class="arrow-down" src="./assets/img/arrows/projectArrow.png" alt="">
    </div>
    <div class="project-description" [ngClass]="{'show': isDescriptionVisible(0)}">
      <div class="project-number">04/04</div>
      <h3 class="project-title">Portfolio</h3>
      <span class="project-tools">Angular | TypeScript | HTML | CSS</span>
      <span class="project-short-description">My Personal Portfolio Website. Feel free to check it out.</span>
      <div class="button-container">
        <button class="button" (click)="navigateTo('https://nicolas-oeser.de/')">
          Live
        </button>
        <button class="button" (click)="navigateTo('https://github.com/NicoOeser/portfolio')">
          Github
        </button>
      </div>
    </div>
  </div>
</div>
<div class="arrow-container wrapper">
  <img class="arrow-picture" src="assets/img/arrows/arrow.png" alt="">
</div>