<div class="content">
    <div class="footer wrapper">
        <div class="space-between">
            <div class="logo-and-copyright">
                <img routerLink="" class="my-logo" src="assets/logo/LogoWhite.png" alt="">
                <span class="copyright">© Nicolas Oeser 2023</span>
            </div>

            <div class="social-media-and-legal-notice">
                <div class="social-media-container">
                    <div>
                        <a  href="https://github.com/NicoOeser" target="_blank">
                            <img class="link-icon" src="assets/icons/github.png" alt="Image of Github-icon">
                        </a>

                    </div>
                    <div>
                        <a  href="mailto:nicolas.oeser@gmail.de" target="_blank">
                            <img class="link-icon" src="assets/icons/mail.png" alt="Image of mail-icon">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com" target="_blank">
                            <img class="link-icon" src="assets/icons/linked-in.png" alt="Image of LinkedIn-icon">
                        </a>
                    </div>
                </div>

                <div class="legal-notice-container">
                    <a class="legal-notice" routerLink="legal-notice">Legal Notice</a>
                </div>
            </div>
        </div>
    </div>
</div>
