<div class="wrapper content" id="about-me">
    <h2 class="about-me-header component-header">{{ getTranslatedText('ABOUT_ME_HEADER') }}</h2>
    <div class="about-me-content">
        <div class="about-me-text-container">
            <div class="about-me-text">
                <p>{{ getTranslatedText('ABOUT_ME_TEXT') }}</p>
            </div>
            <div class="lets-talk-button-container">
                <button class="lets-talk-button" routerLink="" fragment="contact">
                    {{ getTranslatedText('LETS_TALK_BUTTON') }}
                </button>
            </div>
        </div>
        <div class="about-me-picture-container">
            <div class="image-container">
                <img class="about-me-picture" src="assets/img/hero/me.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="arrow-container wrapper">
    <img class="arrow-picture" src="assets/img/arrows/arrow.png" alt="">
</div>


