<div class="wrapper content" id="about-me">
    <h2 class="about-me-header component-header">About Me</h2>
    <div class="about-me-content">
        <div class="about-me-text-container">
            <div class="about-me-text">
                <p>I am a frontend developer from Eitorf, Germany.
                    It brings me great pleasure to assist designers and companies in bringing their ideas to life.
                    <br>
                    <br>
                    I focus on careful planning, clean code and thorough documentation to ensure high quality work.
                    Teamwork and a strong work ethic are standard for me.
                    The ability to quickly learn new tasks and find solutions to problems complements my profile.
                    <br>
                    <br>
                    If you think I'd be a good match for your projects, contact me!
                </p>
            </div>
            <div class="lets-talk-button-container">
                <button class="lets-talk-button" routerLink="" fragment="contact">Let's talk</button>
            </div>
        </div>
        <div class="about-me-picture-container">
            <div class="image-container">
                <img class="about-me-picture" src="assets/img/hero/my-img.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="arrow-container wrapper">
    <img class="arrow-picture" src="assets/img/arrows/arrow.png" alt="">
</div>

