<div class="wrapper content">
    <div class="profession">
        <span>{{ getTranslatedText('FRONTEND') }}</span>
        <span>{{ getTranslatedText('DEVELOPER') }}</span>
        <div class="name">
            <img src="assets/img/vector.png" alt="">
            <span>{{ getTranslatedText('NICOLAS_OESER') }}</span>
        </div>
    </div>
    <div class="scroll-notice">
        <a href="mailto:kontakt@nicolas-oeser.de" class="email">{{ getTranslatedText('CONTACT_EMAIL') }}</a>
        <div class="scroll-down">
            <div class="arrow-container">
                <img src="assets/img/arrows/arrow-down.png" alt="arrow-icon">
            </div>
            <span class="scroll-string">{{ getTranslatedText('SCROLL') }}</span>
            <span class="scroll-string">{{ getTranslatedText('DOWN') }}</span>
        </div>
    </div>
</div>
