<div class="wrapper content">
    <div class="profession">
        <span>Frontend</span>
        <span>Developer</span>
        <div class="name">
            <img src="assets/img/vector.png" alt="">
            <span>Nicolas Oeser</span>
        </div>
    </div>
    <div class="scroll-notice">
        <a href="mailto:nicolas.oeser@gmail.com" class="email">kontakt@nicolas-oeser.de</a>
        <div class="scroll-down">
            <div class="arrow-container">
                <img src="assets/img/arrows/arrow-down.png" alt="arrow-icon">
            </div>
            <span class="scroll-string">Scroll</span>
            <span class="scroll-string">Down</span>
        </div>
    </div>
</div>