<div class="content">
    <div class="contact-container wrapper">
        <h2 class="contact-header component-header">Say Hi!</h2>

        <div class="contact-formular-background wrapper">

            <div class="contact-formular-container">

                <div class="contact-formular-header">
                    <span class="discuss-project">Want to discuss a new project?</span>
                    <span class="discuss-ideas">Say hello! let's discuss your ideas and make it happen</span>
                </div>
                <form method="post" class="contact-formular" #myForm [formGroup]="messageForm" (ngSubmit)="sendMail()">

                    <div class="inputfield-container">
                        <input class="inputfield" required type="text" placeholder="Your name" name="name" #nameField
                            formControlName="name" [class.invalid]="
                         messageForm.get('name')?.invalid && 
                         (messageForm.get('name')?.dirty || 
                         messageForm.get('name')?.touched || isSubmitted)
                         ">
                        <span *ngIf="
                         messageForm.get('name')?.hasError('required') && 
                         (messageForm.get('name')?.dirty || 
                         messageForm.get('name')?.touched || isSubmitted)" class="error">
                           Your name is required
                        </span>
                    </div>

                    <div class="inputfield-container">
                        <input class="inputfield" required type="email" placeholder="Your email" name="email"
                            #emailField formControlName="email" [class.invalid]="
                        messageForm.get('email')?.invalid && 
                        (messageForm.get('email')?.dirty || 
                        messageForm.get('email')?.touched || isSubmitted)">
                        <span *ngIf="
                        messageForm.get('email')?.hasError('required') && 
                        (messageForm.get('email')?.dirty || 
                        messageForm.get('email')?.touched || isSubmitted)" class="error">
                            Your email is required
                        </span>
                        <span *ngIf="
                        messageForm.get('email')?.hasError('email') && 
                        (messageForm.get('email')?.dirty || 
                        messageForm.get('email')?.touched || isSubmitted)" class="error">
                            Please enter a valid email
                        </span>
                    </div>

                    <div class="inputfield-container">
                        <textarea class="text" required type="text" placeholder="Your message" name="message"
                            #messageField formControlName="message" [class.invalid]="
                        messageForm.get('message')?.invalid && 
                        (messageForm.get('message')?.dirty || 
                        messageForm.get('message')?.touched || isSubmitted)"></textarea>
                        <span *ngIf="
                        messageForm.get('message')?.hasError('required') && 
                        (messageForm.get('message')?.dirty || 
                        messageForm.get('message')?.touched || isSubmitted)" class="error">
                            Your message is empty
                        </span>
                    </div>
                    
                    <div class="inputfield-container-checkbox">
                        <label>
                            <input type="checkbox" formControlName="privacyPolicyAgreement">
                            I've read the <a routerLink="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.
                        </label>
                        <span *ngIf="messageForm.get('privacyPolicyAgreement')?.hasError('required') && 
                            (messageForm.get('privacyPolicyAgreement')?.dirty || 
                            messageForm.get('privacyPolicyAgreement')?.touched || isSubmitted)" class="error">
                            Please agree to the privacy policy
                        </span>
                    </div>
                    
                   
                      

                    <div>
                        <button class="button" #sendButton [disabled]="canSendMail()">Send message</button>
                    </div>
                    <span *ngIf="successMessage" class="success-message">{{ successMessage }}</span>
                </form>
            </div>
        </div>
    </div>    
</div>

