<div class="wrapper content" id="my-skills">
    <div class="skills-container">
        <span class="skills-header">{{ getTranslatedText('MY_SKILLS_HEADER') }}</span>
        <div class="icons-container">
            <div class="first-row">
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/angular.png" alt="">
                    <span class="icon-name">Angular</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/typescript.png" alt="">
                    <span class="icon-name">Typescript</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/javascript.png" alt="">
                    <span class="icon-name">Javascript</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/html.png" alt="">
                    <span class="icon-name">HTML</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/css.png" alt="">
                    <span class="icon-name">CSS/SCSS</span>
                </div>
            </div>
            <div class="second-row">
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/firebase.png" alt="">
                    <span class="icon-name">Firebase</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/git.png" alt="">
                    <span class="icon-name">Git</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/scrum.png" alt="">
                    <span class="icon-name">Scrum</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/apis.png" alt="">
                    <span class="icon-name">REST-API</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/material-design.png" alt="">
                    <span class="icon-name">Material Design</span>
                </div>
            </div>
            <div class="mobile-row">
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/angular.png" alt="">
                    <span class="icon-name">Angular</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/typescript.png" alt="">
                    <span class="icon-name">Typescript</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/javascript.png" alt="">
                    <span class="icon-name">Javascript</span>
                </div>
            </div>
            <div class="mobile-row">
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/html.png" alt="">
                    <span class="icon-name">HTML</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/css.png" alt="">
                    <span class="icon-name">CSS/SCSS</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/firebase.png" alt="">
                    <span class="icon-name">Firebase</span>
                </div>
            </div>
            <div class="mobile-row">
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/git.png" alt="">
                    <span class="icon-name">Git</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/scrum.png" alt="">
                    <span class="icon-name">Scrum</span>
                </div>
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/apis.png" alt="">
                    <span class="icon-name">Rest-Api</span>
                </div>
            </div>
            <div class="mobile-row">
                <div class="icon">
                    <img class="icon-picture" src="assets/icons/material-design.png" alt="">
                    <span class="icon-name">Material Design</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="arrow-container wrapper">
    <img class="arrow-picture" src="assets/img/arrows/arrow.png" alt="">
</div>