<div class="content wrapper">
  <div class="project">
    <div class="project-container wrapper" (mouseenter)="showDescription(0)" (mouseleave)="hideDescription(0)">
      <div class="project-image-container" #aboutmeLeft>
        <div class="number-container-small-screen">
          03/03
        </div>
        <img class="project-image" src="./assets/img/mywork/Pokedex.png">
        <img class="arrow-down" src="./assets/img/arrows/projectArrow.png" alt="">
      </div>
      <div [ngClass]="{'show': isDescriptionVisible(0)}" class="project-description">
        <div class="project-number">03/03</div>
        <h3 class="project-title">Pokedex</h3>
        <span class="project-tools"> Javascript | HTML | CSS | API </span>
        <span class="project-short-description">Based on the PokéAPI a simple library that provides and catalogues
          pokemon information.
        </span>
        <div class="button-container">
          <button class="button" (click)="navigateTo('https://pokedex.nicolas-oeser.de')">
            Live
          </button>
          <button class="button" (click)="navigateTo('https://github.com/NicoOeser/pokedex')">
            Github
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="arrow-container wrapper">
  <img class="arrow-picture" src="assets/img/arrows/arrow.png" alt="">
</div>