<div class="content">
    <div class="navigation wrapper">
        <span>
            <a class="navigation-link" routerLink="" fragment="about-me" (click)="toggleHamburger()">About me</a>
        </span>
        <span>
            <a class="navigation-link" routerLink="" fragment="my-skills" (click)="toggleHamburger()">My skills</a>
        </span>
        <span>
            <a class="navigation-link" routerLink="" fragment="portfolio" (click)="toggleHamburger()">Portfolio</a>
        </span>
    </div>
</div>