<div class="content">
    <div class="navigation wrapper">
        <span>
            <a class="navigation-link" routerLink="" fragment="about-me" (click)="toggleHamburger()">
                {{ getTranslatedText('ABOUT_ME') }}
            </a>
        </span>
        <span>
            <a class="navigation-link" routerLink="" fragment="my-skills" (click)="toggleHamburger()">
                {{ getTranslatedText('MY_SKILLS') }}
            </a>
        </span>
        <span>
            <a class="navigation-link" routerLink="" fragment="portfolio" (click)="toggleHamburger()">
                {{ getTranslatedText('PORTFOLIO') }}
            </a>
        </span>
    </div>
</div>
